@import "./mixins.scss";

.basket-block {
    @include flex-row-center;
    width: 100%;
}

.basket {
    width: 80%;
    border: 2px solid black;
    border-top: none;
    margin-bottom: 100px;
    &__list {
        @include flex-column;
        list-style: none;
    }
    &__list-item {
        border-bottom: 2px solid black;
        &:nth-last-of-type(1) {
            border-bottom: none;
        }
    }
    &__summary-table {
        display: flex;
        justify-content: flex-end;
        border-top: 2px solid black;
    }
    &__price {
        width: 100%;
        text-align: right;
        padding-right: 5px;
    }
    &__trash-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
    }
    &__edit-button {
        width: 50%;
    }
}
