@import "./mixins.scss";

.close-button {
    @include button;
    background-color: transparent;
    border: none;
    height: 32px;
    width: 52px;
    font-size: 2.5rem;
    &:hover {
        background-color: #f80000;
        color: white;
    }
}

.primary-button {
    @include button;
    background-color: #04509b;
    width: auto;
    font-size: 2.5rem;
    border: 1px solid black;
    &:hover {
        color: white;
    }
}

.basket-button {
    @include button;
    font-size: 3.5rem;
    background-color: transparent;
    border: none;
    &:hover {
        color: #04509b;
    }
}

.trash-button {
    @include button;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    &:hover {
        color: #f80000;
    }
}

.edit-button {
    @include button;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    &:hover {
        color: #04509b;
    }
}

.logout-button {
    @include button;
    font-size: 3.5rem;
    background-color: transparent;
    border: none;
    &:hover {
        color: white;
    }
}
