@import "./mixins.scss";

.title {
    font-size: 3.6rem;
    padding: 5px;
    font-weight: 500;
    text-align: center;
}

.text {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2px;
}

.thumbnail {
    height: 80%;
    width: auto;
    padding: 2px;
    overflow: hidden;
    @media screen and (max-width: 1366px) {
        height: 60%;
    }
}

.image {
    height: 70%;
    width: auto;
    padding: 10px;
    overflow: hidden;
}

.input {
    font-family: inherit;
    line-height: 4rem;
    font-size: 1.8rem;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 4rem;
    &:focus {
        outline: none;
    }
}
