@import "./mixins.scss";

.error-block {
    @include flex-row-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.error {
    @include flex-column;
    position: relative;
    width: 500px;
    height: 500px;
    padding: 10px;
    background-color: #ddd;
    @media screen and (max-width: 540px) {
        width: 300px;
        height: 300px;
    }
    &__icon {
        @include flex-row-center;
        color: gray;
        margin: 20px 0;
        font-size: 100px;
    }
    &__message {
        @include flex-row-center;
        flex-grow: 1;
    }
    &__button {
        position: absolute;
        top: 0;
        right: 0;
    }
}
