@import "./mixins.scss";

.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #04509b;
    @media screen and (max-width: 540px) {
        height: 70px;
    }
    &__menu {
        height: 100%;
        width: 100%;
    }
    &__list {
        @include flex-row-center;
        height: 100%;
        width: 100%;
        margin: 0;
        list-style: none;
    }
    &__menu-item {
        height: 100%;
        flex-grow: 1;
        font-size: 28px;
        background-color: #04509b;
        transition: 0.3s;
        border-right: 1px solid black;
        &:nth-last-child(1) {
            border-right: none;
        }
        &:hover {
            color: #dddddd;
        }
        &--active {
            background-color: #0a3c64;
            color: #dddddd;
        }
    }
    &__link {
        @include flex-row-center;
        color: inherit;
        text-decoration: none;
        height: 100%;
        width: 100%;
        padding: 0 12px;
        transition: none;
    }
    &__logout-button {
        height: 100%;
        width: 80px;
    }
}
