* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    @media screen and (max-width: 540px) {
        font-size: 6px;
    }
    @media screen and (max-width: 340px) {
        font-size: 5px;
    }
}

#root {
    width: calc(100vw - (100vw - 100%));
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.app {
    width: 100%;
    font-family: "Russo One", sans-serif, serif;
    overflow: hidden;
}

.content {
    width: 100%;
}
