@import "./mixins";

.list-item {
    @include flex-row-center;
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px 0;
    @media screen and (max-width: 1000px) {
        @include flex-column;
        height: 450px;
        padding: 10px 0;
    }
    @media screen and (max-width: 540px) {
        height: 300px;
    }
    &__image-block {
        @include flex-row-center;
        width: 20%;
        height: 100%;
        overflow: hidden;
        @media screen and (max-width: 1000px) {
            height: 50%;
            width: 50%;
        }
    }
    &__description-block {
        width: 60%;
        height: 100%;
        @media screen and (max-width: 1000px) {
            @include flex-column;
            justify-content: space-around;
            width: 100%;
            height: 25%;
            text-align: center;
        }
    }
    &__details-block {
        @include flex-column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 20%;
        @media screen and (max-width: 1000px) {
            height: 25%;
            width: 100%;
        }
    }
}
