@import "./mixins";
$loader-width: 120px;
$loader-height: 40px;
$ball-size: 30px;

.loader-block {
    @include flex-row-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    & .loader {
        @include flex-row-center;
        justify-content: space-between;
        width: $loader-width;
        height: $loader-height;
        &__loader-element {
            width: $ball-size;
            height: $ball-size;
            background-color: #0a3c64;
            border-radius: 50%;
            transform: scale(1);
            animation-name: scale;
            animation-duration: 1.2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            &:nth-child(2) {
                animation-delay: 0.2s;
            }
            &:nth-child(3) {
                animation-delay: 0.4s;
            }
        }
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    25% {
        transform: scale(0.2);
    }
    50% {
        transform: scale(1);
    }

    to {
        transform: scale(1);
    }
}
