@import "./mixins.scss";

.login {
    @include flex-row-center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #eee;
    &__form {
        @include flex-column;
        height: 300px;
        width: 300px;
        @media screen and (max-width: 540px) {
            width: 200px;
            height: 180px;
        }
        @media screen and (max-width: 340px) {
            width: 180px;
            height: 160px;
        }
    }
    &__inputs-block {
        @include flex-column;
        flex-grow: 1;
        justify-content: space-between;
        margin: 40px 0;
        @media screen and (max-width: 540px) {
            margin: 20px 0;
        }
    }
    &__input {
        width: 100%;
    }
    &__button {
        border-radius: 5px;
    }

    &__menu {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        @include flex-column;
        align-items: center;
        @media (max-height: 450px) {
            align-items: flex-start;
        }
    }
    &__list {
        width: 20%;
        list-style: none;
    }
    &__menu-item {
        & a {
            color: inherit;
            text-decoration: none;
        }
        &--active {
            color: rgba(0, 0, 0, 0.6);
        }
    }
}
