@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    padding: 2px;
    transition: 0.3s;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}
