@import "./mixins";

.panel-block {
    @include flex-row-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(110, 137, 155, 0.5);
    &__panel {
        @include flex-row-center;
        position: relative;
        width: 500px;
        height: 250px;
        background-color: #fff;
        border: 1px solid black;
        @media (max-width: 540px) {
            @include flex-column;
            justify-content: space-around;
            height: 400px;
            width: 250px;
        }
    }
    &__close-button {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__image-block {
        @include flex-row-center;
        height: 100%;
        width: 50%;
        @media screen and (max-width: 540px) {
            height: 50%;
            width: 100%;
        }
    }
    &__description-block {
        @include flex-column;
        height: 50%;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        @media screen and (max-width: 540px) {
            height: 50%;
            width: 100%;
            flex-grow: 0;
        }
    }

    &__input {
        font-size: 5rem;
        width: 50%;
        text-align: center;
        outline: none;
    }
}
