@import "./mixins.scss";

.shop {
    @include flex-row-center;
    width: 100%;
    &__shopping-list {
        @include flex-column;
        width: 80%;
        margin-bottom: 50px;
    }
    &__list {
        list-style: none;
    }
    &__list-item {
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 110%;
            border-bottom: 2px solid black;
        }
    }
}
